{{#if userAlreadyExists}}
<script>alert("Email đã được người dùng khác đăng ký. Tạo mới thất bại!")</script>
{{/if}}

{{#if signUpSuccess}}
<script>alert("Tạo mơi tài khoản thành công")</script>
{{/if}}

<div class="page-wrapper">
    <!-- PAGE CONTAINER-->
    <!-- MAIN CONTENT-->
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-data__tool">
                            <div class="table-data__tool-right">
                                <a href="/addUser">
                                    <button class="au-btn au-btn-icon au-btn--green au-btn--small">
                                        <i class="zmdi zmdi-plus"></i>Thêm nhân viên</button>
                                </a>
                                <button class="au-btn au-btn-icon au-btn--green au-btn--small">
                                    <i class="zmdi zmdi-plus"></i>import Excel</button>
                                <button class="au-btn au-btn-icon au-btn--green au-btn--small">
                                    <i class="zmdi zmdi-plus"></i>export Excel</button>
                            </div>
                        </div>
                        <!-- USER DATA-->
                        <div class="user-data m-b-30">
                            <div class="table-responsive table-data">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <td>
                                                <h4>Họ và tên</h4>
                                            </td>
                                            <td>
                                                <h4>Email</h4>
                                            </td>
                                            <td>
                                                <h4>Chức vụ</h4>
                                            </td>
                                            <td>
                                                <h4>Số điện thoại</h4>
                                            </td>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each users}}
                                        <tr>
                                            <td>
                                                <div class="table-data__info">
                                                    <h4>{{this.username}}</h4>
                                                    <span>
                                                        <a href="#">{{this.email}}</a>
                                                    </span>
                                                </div>
                                            </td>
                                            <td>{{this.email}}</td>
                                            <td>

                                                <span class="role admin">{{this.role}}</span>
                                                {{!-- {{#if this.role=="admin"}}
                                                <span class="role admin">{{this.role}}</span>
                                                {{/if}} --}}

                                            </td>
                                            <td>{{this.phoneNumber}}</td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- END USER DATA-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<script>
    var ele = document.getElementsByClassName("role");
    for (let i = 0; i < ele.length; i++) {
        if (ele[i].textContent == "sale")
            ele[i].setAttribute("class", "role user");
        if (ele[i].textContent == "productionStaff")
            ele[i].setAttribute("class", "role user");
        if (ele[i].textContent == "accountant")
            ele[i].setAttribute("class", "role member");
    }
</script>