<link rel="stylesheet" href="/stylesheets/listOrderManagement.css">

<div class="tool">
    <div class="filter">
        <form action="/postFilterOder" method="post">
            <label for="">Lọc theo tiến trình: </label>
            <select name="filterProcess" id="select-filter">
                <option selected value="{{this.filterProcess}}">{{this.filterProcess}}</option>
                <option value="TatCa">Tất cả</option>
                <option value="SanXuat">Sản xuất</option>
                <option value="ThieuHang">Thiếu hàng</option>
                <option value="DaGiao">Đã giao</option>
                <option value="SanXuatXong">Sản xuất xong</option>
                <option value="HuyDon">Hủy đơn</option>
            </select>
            <br>
            <br>
            <label for="birthday">Từ ngày:</label>
            <input value="{{this.fromDate}}" type="date" id="from-date" name="fromDate">
            <label for="birthday">Đến ngày:</label>
            <input value="{{this.toDate}}" type="date" id="to-date" name="toDate">
            <button class="success" id="btn-filter" type="submit">Lọc</button>
            <button type="reset" onclick="reloadPage()">Bỏ lọc</button>
        </form>
    </div>
    <div class="search-component">
        <cd-search for="orderManagement" categorys={{this.categorys}}></cd-search>
    </div>

</div>

<table class="table-list">
    <tr>
        <th>STT</th>
        <th>Mã đơn hàng</th>
        <th>Mã khách hành</th>
        <th>Tên khách hành</th>
        <th>Người lên đơn</th>
        <th>Thời gian lên đơn</th>
        <th>Chi titet</th>
        <th>Tiến độ</th>
    </tr>
    {{#each orders}}
    <tr>
        <td>{{inc @index}}</td>
        <td>{{this.MaLenDon}}</td>
        <td>{{this.MaKhachHang}}</td>
        <td>{{this.TenKhachHang}}</td>
        <td>{{this.NguoiLenDon}}</td>
        <td>{{this.NgayLenDon}}</td>
        <td> <button for={{@index}} class="seen-detail info">xem chi tiết</button></button></td>
        <td>
            <input id="before-change-process" type="text" value="{{this.TienDo}}" hidden>
            <select class="process">
                <option value="{{this.TienDo}}" selected="selected"> {{this.TienDo}}</option>
                <option value="ThieuHang">Thiếu hàng</option>
                <option value="SanXuat">Sản xuất</option>
                <option value="SanXuatXong">Sản xuất xong</option>
                <option value="DaGiao">Đã giao</option>
                <option value="HuyDon">Hủy đơn</option>
            </select>
            <span class="block-select-process">{{this.TienDo}}</span>
        </td>
    </tr>

    <div class="detail">
        <div class="close"><i class="far fa-window-close"></i></div>
        <div class="information">
            <label for=""><span class="title-information">Mã đơn hàng:</span> </label>
            <p>{{this.MaLenDon}}</p><br>
            <label for=""><span class="title-information">Mã khách hàng:</span> </label>
            <p>{{this.MaKhachHang}}</p><br>
            <label for=""><span class="title-information">Tên khách hàng:</span> </label>
            <p>{{this.TenKhachHang}}</p><br>
            <label for=""><span class="title-information">Người lên đơn:</span> </label>
            <p>{{this.NguoiLenDon}}</p><br>
            <label for=""><span class="title-information">Ngày lên đơn:</span> </label>
            <p>{{this.NgayLenDon}}</p><br>
            <label for=""><span class="title-information title-note">Ghi chú:</span> </label>
            <p>{{this.GhiChu}}</p><br>
        </div>
        <div class="table">
            <div class="content">
                <header>
                    <span class="title">STT</span>
                    <span class="title">Loại ván - Độ giày - Loại mặt phủ - Số mặt</span>
                    <span class="title">Tên ván</span>
                    <span class="title">Đơn giá</span>
                    <span class="title">Số lượng</span>
                    <span class="title">Thành tiền</span>
                </header>
                <main>
                    {{#each this.ChiTietDon}}
                    <section id="item-1">
                        <span class="list">{{inc @index}}</span>
                        <span class="list">{{this.LoaiVanDoDayMatPhuSoMat}}</span>
                        <span class="list">{{this.TenVan}}</span>
                        <span class="list">{{this.DonGia}}</span>
                        <span class="list">{{this.SoLuong}}</span>
                        <span class="list">{{this.ThanhTien}}</span>
                    </section>
                    {{/each}}
                </main>
            </div>
        </div>
    </div>
    {{/each}}
</table>

<hd-paging current-page="{{page}}" max-page="{{maxPage}}"></hd-paging>

<script>
    let congdat = "123";
    let seenDetail = document.getElementsByClassName("seen-detail");
    let close = document.getElementsByClassName("close");
    let detail = document.getElementsByClassName("detail");
    let changeSelect = document.getElementsByClassName("process");
    let inputSearch = document.getElementById("input-search");
    let btnSearch = document.getElementById("btn-search");
    let selectSearch = document.getElementById("select-search");
    let selectFilter = document.getElementById("select-filter");
    let btnFilter = document.getElementById("btn-filter");
    let indexDetail;

    for (let i = 0; i < seenDetail.length; i++) {
        seenDetail[i].addEventListener("click", (ele) => {
            indexDetail = ele.target.getAttribute("for");
            detail[indexDetail].style.display = "block";
        })
    }
    for (let i = 0; i < close.length; i++) {
        close[i].addEventListener("click", () => {
            detail[indexDetail].style.display = "none";
        })
    }
    for (let i = 0; i < changeSelect.length; i++) {
        changeSelect[i].addEventListener("change", () => {
            let id = changeSelect[i].parentElement.parentElement.children[1].textContent;
            let process = changeSelect[i].value;
            let beforeChangeProcess = changeSelect[i].parentElement.getElementsByTagName("input")[0].value;
            if (confirm("Bạn có muốn thay đổi đơn hàng có mã số " + id + " thành " + process))
                $.ajax({
                    method: "post",
                    url: "/postProcess",
                    data: {
                        data: JSON.stringify({
                            id: +id,
                            process: process,
                            beforeChangeProcess: beforeChangeProcess
                        })
                    }
                    , success: (r) => {
                        console.log(r);
                        location.reload();
                    }
                });
            else location.reload();
        })
    }
    (() => {
        for (let i = 0; i < changeSelect.length; i++) {
            switch (changeSelect[i].value) {
                case "ThieuHang":
                    changeSelect[i].classList.add("danger");
                    changeSelect[i].getElementsByTagName("option")[0].textContent = "Thiếu hàng"
                    break;
                case "SanXuat":
                    changeSelect[i].classList.add("warning")
                    changeSelect[i].getElementsByTagName("option")[0].textContent = "Sản xuất"
                    break;
                case "SanXuatXong":
                    changeSelect[i].classList.add("primary");
                    changeSelect[i].getElementsByTagName("option")[0].textContent = "Sản xuất xong"
                    break;
                case "DaGiao":
                    changeSelect[i].classList.add("secondary");
                    changeSelect[i].getElementsByTagName("option")[0].textContent = "Đã giao";

                    let children = changeSelect[i].children;
                    for (let i = 0; i < children.length; i++) {
                        children[i].style.display = "none";
                    }
                    break;
                case "HuyDon":
                    changeSelect[i].classList.add("dark");
                    changeSelect[i].getElementsByTagName("option")[0].textContent = "Hủy đơn"

                    let children2 = changeSelect[i].children;
                    for (let i = 0; i < children2.length; i++) {
                        children2[i].style.display = "none";
                    }
                    break;
            }
        }
    })();

    function filterDate() {
        let inputFromDate = document.getElementById("from-date").value;
        let inputToDate = document.getElementById("to-date").value;

        if (fromDate.value && toDate.value) {
            console.log(fromDate.value + "và " + toDate.value);
            let fromDate = new Date(inputFromDate);
            let toDate = new Date(inputToDate);
        }
        else {
            console.log("thêm dữ liệu")
        }
    }

    function reloadPage() {
        window.location.href = window.location.pathname;
    }
</script>